.select {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #c9c9c9;
  font-size: 1rem;
  color: rgb(80, 80, 80);
  width: 100%;
  box-sizing: border-box;
  transition: color 0.2s;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-size: 1rem 0.75rem;
  background-clip: padding-box;
  background-repeat: no-repeat;
  appearance: none;

  &:hover {
    border-color: gray;
  }

  &:focus {
    box-shadow: rgba(100, 100, 111, 0.2) 0 0.2rem 0.8rem 0;
    color: rgb(40, 40, 40);
  }
}